<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"
		p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost:3306/ssh2?useUnicode=true&amp;characterEncoding=UTF-8"
		p:user="root"
		p:password="admin"
		p:maxPoolSize="40"
		p:minPoolSize="1"
		p:initialPoolSize="1"
		p:maxIdleTime="20"/> -->
 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_happytravelers?useUnicode=true&amp;characterEncoding=UTF-8"/> 
		<property name="username" value="5w0wmkxm1y"/>
		<property name="password" value="0z0k4k1iy2j43ljw3ym0xy50hjmx15kzzlhym151"/>
		<property name="maxWait"            value="1000" />
        <property name="initialSize"        value="5" />
        <property name="maxActive"          value="20" />
        <property name="maxIdle"            value="5" />
        <property name="testWhileIdle"      value="true" />
        <property name="timeBetweenEvictionRunsMillis"  value="15000" />
        <property name="numTestsPerEvictionRun"         value="20" />
        <property name="validationQuery"    value="SELECT 1 FROM DUAL" />
        <property name="removeAbandoned"    value="true" />
        <property name="removeAbandonedTimeout"         value="180" />
        
    </bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource">
			<ref local="dataSource" />
		</property>

		<property name="mappingResources">
			<list>
				<value>com/happytravelers/bean/Site.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">

			<props>

				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>

			</props>

		</property>

	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="siteDao" class="com.happytravelers.dao.impl.SiteDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="siteServiceTarget"
		class="com.happytravelers.service.impl.SiteServiceImpl">
		<property name="siteDao" ref="siteDao"></property>
	</bean>
	
	<bean id="weixinServiceTarget" class="com.happytravelers.service.impl.WeixinServiceImpl">
		<property name="siteDao" ref="siteDao"></property>
	</bean>

	<bean id="siteService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		
		<property name="target" ref="siteServiceTarget"></property>
		<property name="transactionManager" ref="transactionManager"></property>
		
		<property name="transactionAttributes">
		
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		
		</property>				
	</bean>
	
	<bean id="weixinService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		
		<property name="target" ref="weixinServiceTarget"></property>
		<property name="transactionManager" ref="transactionManager"></property>
		
		<property name="transactionAttributes">
		
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		
		</property>				
	</bean>

	<bean id="saveSiteAction"
		class="com.happytravelers.action.SaveSiteAction" scope="prototype">
		<property name="siteService" ref="siteService"></property>
	</bean>

	<bean id="listSiteAction"
		class="com.happytravelers.action.ListSiteAction" scope="prototype">
		<property name="siteService" ref="siteService"></property>
	</bean>

	<bean id="removeSiteAction"
		class="com.happytravelers.action.RemoveSiteAction" scope="prototype">
		<property name="siteService" ref="siteService"></property>
	</bean>

	<bean id="updatePSiteAction"
		class="com.happytravelers.action.UpdatePSite">
		<property name="siteService" ref="siteService"></property>
	</bean>

	<bean id="updateSiteAction"
		class="com.happytravelers.action.UpdateSiteAction" scope="prototype">
		<property name="siteService" ref="siteService"></property>
	</bean>
	
	<bean id="readArticleAction"
		class="com.happytravelers.action.ReadArticleAction" scope="prototype">
		<property name="siteService" ref="siteService"></property>	
	</bean>
	
	<bean id="queryAction"
		class="com.happytravelers.action.QueryAction" scope="prototype">
		<property name="weixinService" ref="weixinService"></property>
	</bean>
	
	<bean id="listToUserAction" class="com.happytravelers.action.ListToUserAction">
		<property name="siteService" ref="siteService"></property>
	</bean>
	
	</beans>